.register-container {
  height: calc(100vh - 70px); /* minus navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  color: var(--charcoal);
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.form input:focus {
  outline: none;
  border-color: var(--crimson);
}

.file-upload {
  margin-bottom: 15px;
  font-size: 14px;
}

.file-upload input {
  margin-top: 5px;
}

button {
  padding: 12px;
  background-color: var(--crimson);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #b01030;
}